h1
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 0;
}

h2
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

header{
    position: relative
}
canvas {
    border-style: solid;
    border-color: #202020;
    display: block;
    border-radius: 5px;
    max-width: 83%;
    max-height: 83vh;
    resize: both;
  }
.button1{
    position: absolute;
    text-align: center;
    left : 250px;
    top: 20px;
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

.button2{
    position: absolute;
    text-align: center;
    left : 425px;
    top: 20px;
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 1000px;
    min-height: 400px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

.inputField {
    position: relative;
    width: 100px;
    left: 100px;
}

.inputLabel {
    position: relative;
    width: 200px;
    text-align: left;
    font-size: 25px;
    left: -250px;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.propertyLabelName {
    position: relative;
    width: 100px;
    left: -150px;
}

.propertyName {
    position: relative;
    width: 100px;
    left: -150px;
}

.propertyLabelMin {
    position: relative;
    width: 100px;
    left: -50px;
}

.propertyMin{
    position: relative;
    width: 100px;
    left: -50px;
}

.propertyLabelMax {
    position: relative;
    width: 100px;
    left: 50px;
}

.propertyMax {
    position: relative;
    width: 100px;
    left: 50px;
}

.submitButton {
    position: relative;
    text-align: center;
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0;
}